.DS_Store
/irpc/apache-zookeeper-3.9.3-bin/
/irpc/zookeeper/
/irpc/apache-jmeter-5.6.3/
d2l-zh/
/codetest/acm-debug/cmake-build-debug
/codetest/leetcode-debug/cmake-build-debug
/codetest/cuda/cmake-build-debug
